#containerNav{
    display: flex;
    justify-content: center;
   
    padding: 10px;
    align-items: center;
    
}

.NavList{
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
}
.NavList a{
    text-decoration: none;
    color: black;
}

.containerIgm{
    padding-right: 50px;
}

.img:hover{
    opacity: 0.50;
    cursor: pointer;
}
