#containerNav{
    display: flex;
    justify-content: center;
    background-color: white;
    
}

.NavList{
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
}
.NavList a{
    text-decoration: none;
    color: black;
}